# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
*.sqlite3
staticfiles/

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/node_modules/

# Vue build
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db